$HeaderBGC: #F0F1F2;
$HeaderFontColor:#010101;
$ButtonColor: #000000;
$ButtonTextColor: #EFF0F1FF;
$SocialNetColor: #000000FF;
//$SocialNetColorHover: #646464;
$HeaderGradLeft: #F5F6F6;
$HeaderGradRight: #EAEAED;

$MainBGC: #FFFFFF;
$MainTitleBGC: #E9EAE9;
$NavImageColor: #646464;
$NavTextBoldColor: #383838;
$NavTextSlimColor: #646464;