.social-nets{
	display: flex;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
	box-sizing: border-box;
	justify-content: center;
	box-sizing: border-box;
}

@media(min-width:450px){
	.social-nets{

		.social-nets__item-block{
			display: flex;
			justify-content: center;
			width: 80px;
			transition:flex-grow 0.2s linear;
			&:hover{
				flex-grow:0.05;	
			}
		}
	}
}