
.icon-mail-circled:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-cancel-1:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-ok-circled2:before { content: '\e805'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */